@font-face {
  font-family: 'Yeseva One';
  src: url('../fonts/ofont.ru_Yeseva One.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/ofont.ru_Montserrat.ttf');
}

@font-face {
  font-family: 'Montserrat-bold';
  src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
  font-family: 'Rosa Marena';
  src: url('../fonts/8585.ttf');
}