@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-start {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}